# Ignore the build directory
/build/

# Ignore the content of the debug folder
debug/*json

# Ignore node_modules
/zecale_contracts/node_modules/*

# Ignore client env and build files
/client/env
/client/zecale/api
__pycache__
*.egg-info
.mypy_cache

# Ignore some unix temp files
*~
\#*\#
