# Ignore the build repo
/build/

# Ignore the output of the trusted setup (ie: Proving and Verifying key)
/trusted_setup/*.raw
/trusted_setup/*.json

# Ignore the content of the debug folder
debug/*json

# Ignore node_modules
/zecale-contracts/node_modules/*

# Ignore some unix temp files
*~
\#*\#
